.header {
  .mat-toolbar-content {
    background-color: #262c3a;
    background-image: url("../../../assets/images/rick-and-morty-title.jpg");
    background-size: 15rem;
    background-repeat: no-repeat;
    background-position: center;
  }
}
