.table-container {
  margin: 10vh auto;
  width: 80%;
  .filter-container {
    margin: auto;
    width: 80%;
  }
  table {
    margin: auto;
    width: 80%;
  }
  .no-data {
    width: 80%;
    margin: auto;
  }
  .paginator {
    width: 80%;
    margin: auto;
  }
  
}

.row-hover:hover {
  transition: 0.2s;
  cursor: pointer;
  font-weight: 800;
  border-top: 1.2px solid black;
  border-bottom: 1.2px solid black;
} 
