.table-container {
  margin: 10vh auto;
  width: 80%;
  .container-div {
    width: 80%;
    margin: auto;
  }
}

.row-hover:hover {
  transition: 0.2s;
  cursor: pointer;
  font-weight: 800;
  border-top: 1.2px solid black;
  border-bottom: 1.2px solid black;
}
